#!/bin/sh

# example for master backup script
# to add it to cron:
#   $ sudo crontab -e
#   @midnight /home/seb/backups/backup.sh >/home/seb/backups/backup.log 2>/home/seb/backups/backup.err.log 

PAVER=./paver
MYSQL_BACKUP_DIR=/home/seb/backups/mysql
BACKUP_DIR=/home/seb/backups/projects
export GNUPGHOME=/home/seb/.gnupg

cd /home/seb/projects/backup_tools

echo 'Backup mysql'
$PAVER backup_mysql -u root -d $MYSQL_BACKUP_DIR --recipient "Algo-rithm <info@algo-rithm.com>" >>$MYSQL_BACKUP_DIR/backup.log 2>>$MYSQL_BACKUP_DIR/backup.err.log

PROJECT=/home/seb/web/sugar
echo 'Backup sugar'
python $PAVER backup_dir -s $PROJECT -d $BACKUP_DIR --recipient "Algo-rithm <info@algo-rithm.com>" >>$BACKUP_DIR/backup.log 2>>$BACKUP_DIR/backup.err.log

PROJECT=/home/seb/web/redmine
echo 'Backup redmine'
python $PAVER backup_dir -s $PROJECT -n 3 -d $BACKUP_DIR --recipient "Algo-rithm <info@algo-rithm.com>" >>$BACKUP_DIR/backup.log 2>>$BACKUP_DIR/backup.err.log

PROJECT=/home/git
echo 'Backup git server home'
python $PAVER backup_dir -s $PROJECT -d $BACKUP_DIR --recipient "Algo-rithm <info@algo-rithm.com>" >>$BACKUP_DIR/backup.log 2>>$BACKUP_DIR/backup.err.log

PROJECT=/home/seb/.ssh
echo 'Backup seb .ssh'
python $PAVER backup_dir -s $PROJECT -d $BACKUP_DIR --recipient "Algo-rithm <info@algo-rithm.com>" >>$BACKUP_DIR/backup.log 2>>$BACKUP_DIR/backup.err.log


echo 'Done'
